@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rambla|Scada);

body
{
	margin: 0px;
   
}

header
{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #FF8D37;
}



#header-container
{
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF8D37;
}

#logo
{
  width: 70px;  
  height: 70px;
  float: left;
}

/*
.container {
  height: 100px;
  width: 200px;
  text-align: left;
}


#name_line1 {
    position: relative;
    float: left;
	font-family: 'Rambla', sans-serif;
    color: #ffffff;
	font-size: 30px;
    letter-spacing: 10px;
	margin-bottom: 0px;
    margin-left: 16px;
    margin-top:9px;
   
}

#name_line2 {
	position: absolute;
    float: left;
	font-family: 'Rambla', sans-serif;
    color: #ffffff;
	font-size: 14px;
    letter-spacing: 1px;
	margin-bottom: 0px;
    margin-left: 86px;
    margin-top: 44px;
}
*/

#name_container {
    position: relative;
    float: left;
	font-family: 'Rambla', sans-serif;
    color: #ffffff;
	font-size: 28px;
    letter-spacing: 1px;
	margin-bottom: 0px;
    margin-left: 16px;
    margin-top:18px;
   
}

#icons-container-right
{
	position: relative;
	top: 18px;
	float: right;
}


.icon
{
	position: relative;
	width: 40px;
	height: 41px;
	margin-right: 8px;
	display: inline-block;
}

.icon-last
{
	margin-right: 8px;
}

.icon-linkedin
{
	background-image: url(../image/icon-linkedin.png);
}

.icon-facebook
{
	background-image: url(../image/icon-facebook.png);
}

.icon-email
{
	background-image: url(../image/icon-email.png);
}



#grad1 {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 570px;
  margin: auto;
  background: #204F7A;
  background: linear-gradient(to bottom right, #D9E2F3, #204F7A);
}

#body-container {
  position: relative;
  width: 900px;
  margin: auto;
  
}

.line1, .line2, .line3, .line4, .line5, .line6 {
   animation: draw 0.5s linear forwards;
   -webkit-animation: draw 0.5s linear forwards;
   -moz-animation: draw 0.5s linear forwards;  
}

@-webkit-keyframes draw {
  to { 
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to { 
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes draw {
  to { 
    stroke-dashoffset: 0;
  }
}

.line1 {
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}

.line2 {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
}

.line3 {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
}

.line4 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
}

.line5 {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;  
}

.line6 {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;  
}

.overlay-text {
  width: 78px;
  word-wrap: break-word;
  font-family: 'Scada', sans-serif;
  font-size: 16px;
  
}

.hex_draw {
  stroke: #FF8D37;
  stroke-width: 2;
  fill: white;
/*
  fill-opacity: 1;
  stroke: #FF8D37;
  stroke-width: 2;
  fill: white;
    */
}

.hex-cover {
  fill-opacity: 0.0;
}

.hex-cover:hover {
   animation: drawHex 0.6s linear forwards;
   -webkit-animation: drawHex 0.6s linear forwards;
   -moz-animation: drawHex 0.6s linear forwards;
   stroke-dasharray: 423.89;
   stroke-dashoffset: 423.89;
   stroke-width: 5;
   stroke: #FF8D37;
   cursor: pointer;
}

@-webkit-keyframes drawHex {
 to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawHex {
  to { 
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes drawHex {
  to { 
    stroke-dashoffset: 0;
  }
}



#overlay {
    position: absolute;
    display: none;
    width: 280px;
    height: 270px;
    top: 178px;
    left: 16px;
    background-color: #EAEAEA;
    z-index: 2;
    opacity: .7;
    margin: auto;
}

/*
.meTitle{
    transition: .6s ease;
    position: absolute;
    top: 10%;
    left: 25%;
    color: black;
    font-family: 'Scada', sans-serif;
    font-size: 18px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: left;
    opacity: 1;
}
*/

.meBody{
    transition: .6s ease;
    position: absolute;
    margin-top: 130px;
    margin-left: 146px;
    color: black;
    width: 235px;
    font-family: 'Scada', sans-serif;
    font-size: 15px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: left;
    opacity: 1;
}
/**
svg:hover path.hex1_draw {
  stroke-dasharray: 444;
  stroke-dashoffset: 444;
}

.animate-fading {
   
    animation-delay: 6s;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  
      
  animation:fading 0.6s ease-in 1s;
  -webkit-animation: fading 0.6s ease-in 1s forwards;
  -moz-animation: fading 0.6s ease-in 1s;
}

@-webkit-keyframes fading{0%{opacity:0}100%{opacity:1}}
@keyframes fading{0%{opacity:0}100%{opacity:1}}

**/